---
import Layout from '../layouts/Layout.astro';
import GameComponent from "../components/Game"
import {Image} from "astro:assets";
import apotitle from '../images/apotitle.png'
import "../styles/globals.css"
---

<Layout>
    <div class="container center">
    <main>
        <Image src={apotitle} alt="wahoo" class="titleImage" />
        <h1 class="header">THE GAME</h1>
        <GameComponent client:only="react"></GameComponent>
    </main>
    </div>
</Layout>
