---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
import apotitle from '../images/apotitle.png'
import "../styles/globals.css"
---

<Layout>
	<div class="container center">
	<main>
		<Image src={apotitle} alt="wahoo" class="titleImage"/>
		<h1 class="header" style={{ marginBottom: "0 !important" }}>THE GAME</h1>
		<section class="prose">
			<p>TURN YOUR PHONE ON TO MAX VOLUME!</p>
			<p style={{ marginTop: "0 !important" }}>Here are the rules:</p>
			<p>You're a human. You get a point every 10 seconds that you're alive and active.</p>
			<p>You also have an energy bar: it starts out at 120 energy. Every second, you lose 1 energy. To regenerate, you must find a beacon near you and scan it to replenish.</p>
			<p>If you run out of energy, you turn into a zombie. You can't get points anymore, but you can tag humans to zombify them and steal their points. To become a human again, you must scan a beacon.</p>
			<p> <i>Whoever has the most points by tomorrow morning and is still standing as a human wins!</i></p>
			<p class="button"><a href="/game">Let's survive the apocalypse!</a></p>
		</section>
	</main>
	</div>
</Layout>

<style>

</style>
