---
import Layout from '../layouts/Layout.astro';
import Game from "../components/Game"
import {Image} from "astro:assets";
import apotitle from '../images/apotitle.png'
import "../styles/globals.css"
import Beacon from "../components/Beacon"

---


<Layout>
    <div class="container">
        <main>
            <Image src={apotitle} alt="wahoo" class="titleImage" />
            <h1 class="header">THE GAME</h1>
            <Beacon></Beacon>

        </main>
    </div>
</Layout>


